html {
    font-family: "Open Sans", verdana,sans-serif;
    
}
 h1.Homepage {
    text-align: center;
}

ul.Homepage {
    list-style-type: none; text-align: justify; font-weight: 500;
}
div.Homepage {
   background-color: lightgray; border: 2px; width: 400px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 70px;
}

.big.title {
    text-align: center;
}
.recipe {
   margin-right: 200px;
   margin-left: 200px;
}


